@media (min-width: 1200px) {
  .container {
    max-width: 1450px !important;
  }
}

.logo-image {
  max-width: 35px;
}

.navbar-brand {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.navbar-brand__text {
  font-size: 20px;
  font-weight: 700;
  color: #414141 !important;
  margin-right: 50px;
  margin-left: 8px;
}

.nav-item {
  margin-right: 30px;
  font-weight: 600;
}

.buttons {
  color: #fff;
  border-radius: 3px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #9861da 0%, #8756d3 100%);
  border: none;
  padding: 9px 25px;
}

.buttons:hover {
  color: #fff;
  text-decoration: none;
}

.buttons-light {
  color: #1a1a1a;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.09);
  border: none;
  padding: 9px 25px;
}

.buttons-light:hover {
  color: #1a1a1a;
  text-decoration: none;
}

.header {
  background: url(../images/header_background.png);
  background-repeat: no-repeat;
  background-position: right;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 850px;
  -ms-align-items: center;
  align-items: center;
}

.header-text__h1 {
  color: #414141;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.header-text__p {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.inputs {
  width: 100%;
  background: rgba(0, 0, 0, 0.04);
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.login-links {
  display: block;
  color: #1a1a1a;
  transition: 0.2s;
}

.login-links:hover {
  color: #1a1a1a;
  text-decoration: none;
  padding-left: 10px;
  transition: 0.2s;
}

.notification {
  background: #8857d4;
  padding: 20px;
}

.notification > h2 {
  color: #fff;
  font-size: 25px;
  margin-bottom: -3px;
}

.notification > p {
  margin: 0;
  padding: 0;
  color: #fff;
  opacity: 0.8;
	font-size: 16px;
}
